<h1>Nossos empregados</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Salário</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employeeService.employees; let i = index;" [id]="'tr' + i">
            <td>{{ employee.name }}</td>
            <!--<td [style.color]="getSalaryColor(employee)">{{ employee.salary }}</td>-->
            <td [innerHtml]="employee.salary" [ngClass]="{'salary-expensive': employee.salary > 20000, 'salary-cheap': employee.salary < 1000}"></td>
        </tr>
    </tbody>
</table>