<form (submit)="addEmployee()">
    <modal>
        <h5 class="modal-title" modal-title>Novo empregado</h5>

        <div class="modal-body" modal-body>
            <div class="form-group">
                <label>Nome</label>
                <input class="form-control" name="name" type="text" [(ngModel)]="employee.name">                        
            </div>

            <div class="form-group">
                <label>Salário</label>
                <input class="form-control" name="salary" type="text" [(ngModel)]="employee.salary">                       
            </div>

            <div class="form-group" [hidden]="employee.salary >= 1000">
                <label>Bônus</label>
                <input class="form-control" name="bonus" type="text" [(ngModel)]="employee.bonus">                      
            </div>
        </div>

        <div class="modal-footer" modal-footer>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Incluir</button>
        </div>
    </modal>
</form>

